In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt 
%matplotlib inline

In [2]:
df_fake=pd.read_csv("/content/Fake.csv")
df_true=pd.read_csv("/content/True.csv")

In [3]:
df_fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [4]:
df_true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [5]:
#inserting a column "class" as target feature
df_fake["class"]=0
df_true["class"]=1

In [6]:
df_fake.head()

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [7]:
df_fake.shape,df_true.shape

((23481, 5), (21417, 5))

In [8]:
df_fake_mtest=df_fake.tail(10)
for i in range(23480,23470,-1):
  df_fake.drop([i],axis=0,inplace=True)

df_true_mtest=df_true.tail(10)
for i in range(21416,21406,-1):
  df_true.drop([i],axis=0,inplace=True)

In [9]:
df_fake.shape,df_true.shape

((23471, 5), (21407, 5))

In [10]:
df_fake_mtest["class"]=0
df_true_mtest["class"]=1

<ipython-input-10-588b20a5e530>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fake_mtest["class"]=0
<ipython-input-10-588b20a5e530>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_true_mtest["class"]=1

In [11]:
df_fake_mtest.head(10)

,title,text,subject,date,class
23471,Seven Iranians freed in the prisoner swap have...,"21st Century Wire says This week, the historic...",Middle-east,"January 20, 2016",0
23472,#Hashtag Hell & The Fake Left,By Dady Chery and Gilbert MercierAll writers ...,Middle-east,"January 19, 2016",0
23473,Astroturfing: Journalist Reveals Brainwashing ...,Vic Bishop Waking TimesOur reality is carefull...,Middle-east,"January 19, 2016",0
23474,The New American Century: An Era of Fraud,Paul Craig RobertsIn the last years of the 20t...,Middle-east,"January 19, 2016",0
23475,Hillary Clinton: ‘Israel First’ (and no peace ...,Robert Fantina CounterpunchAlthough the United...,Middle-east,"January 18, 2016",0
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0

In [12]:
df_m_testing=pd.concat([df_fake_mtest,df_true_mtest],axis=0)

In [13]:
df_m_testing.head()

,title,text,subject,date,class
23471,Seven Iranians freed in the prisoner swap have...,"21st Century Wire says This week, the historic...",Middle-east,"January 20, 2016",0
23472,#Hashtag Hell & The Fake Left,By Dady Chery and Gilbert MercierAll writers ...,Middle-east,"January 19, 2016",0
23473,Astroturfing: Journalist Reveals Brainwashing ...,Vic Bishop Waking TimesOur reality is carefull...,Middle-east,"January 19, 2016",0
23474,The New American Century: An Era of Fraud,Paul Craig RobertsIn the last years of the 20t...,Middle-east,"January 19, 2016",0
23475,Hillary Clinton: ‘Israel First’ (and no peace ...,Robert Fantina CounterpunchAlthough the United...,Middle-east,"January 18, 2016",0

In [14]:
#mearge true and fake dataframe 
df_merge=pd.concat([df_fake,df_true],axis=0)
df_merge

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
...,...,...,...,...,...
21402,Exclusive: Trump's Afghan decision may increas...,ON BOARD A U.S. MILITARY AIRCRAFT (Reuters) - ...,worldnews,"August 22, 2017",1
21403,U.S. puts more pressure on Pakistan to help wi...,WASHINGTON (Reuters) - The United States sugge...,worldnews,"August 21, 2017",1
21404,Exclusive: U.S. to withhold up to $290 million...,WASHINGTON (Reuters) - The United States has d...,worldnews,"August 22, 2017",1
21405,Trump talks tough on Pakistan's 'terrorist' ha...,ISLAMABAD (Reuters) - Outlining a new strategy...,worldnews,"August 22, 2017",1
21406,"U.S., North Korea clash at U.N. forum over nuc...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1

In [15]:
df_merge.columns

Index(['title', 'text', 'subject', 'date', 'class'], dtype='object')

In [16]:
df=df_merge.drop(['title', 'subject', 'date'],axis=1)

In [17]:
df.isna().sum()

text     0
class    0
dtype: int64

In [18]:
#random shufling 
df=df.sample(frac=1)

In [19]:
df.head()

                                                    text  class
12174                                             Watch:      0
3410   CAMBRIDGE, Mass. (Reuters) - President Donald ...      1
5257   Earlier this week, Trump tried to stroke his v...      0
9551   WASHINGTON (Reuters) - Republican presidential...      1
8808   (Reuters) - Pennsylvania Governor Tom Wolf sai...      1

In [20]:
df.reset_index(inplace=True)

In [21]:
df.drop(["index"],axis=1,inplace=True)

In [22]:
df.head()

                                                text  class
0                                             Watch:      0
1  CAMBRIDGE, Mass. (Reuters) - President Donald ...      1
2  Earlier this week, Trump tried to stroke his v...      0
3  WASHINGTON (Reuters) - Republican presidential...      1
4  (Reuters) - Pennsylvania Governor Tom Wolf sai...      1

In [23]:
from pandas.core.reshape.merge import string
#function to process the text
import re
def wordopt(text):
  text=text.lower()
  text=re.sub('\[.*?\]','',text)
  text=re.sub("\\W"," ",text)
  text=re.sub('https?://\S+|www\.\S+','',text)
  text=re.sub('<.*?>+','',text)
  text=re.sub('[%s]' % re.escape(string.punctuation),'',text)
  text=re.sub('\n','',text)
  text=re.sub('\w*\d\w*','',text)

  return text

In [24]:
df["text"]=df['text'].apply(wordopt)

In [25]:
df

                                                    text  class
0                                                 watch       0
1      cambridge  mass   reuters    president donald ...      1
2      earlier this week  trump tried to stroke his v...      0
3      washington  reuters    republican presidential...      1
4       reuters    pennsylvania governor tom wolf sai...      1
...                                                  ...    ...
44873  lima  reuters    brazilian builder odebrecht t...      1
44874  white house counselor kellyanne conway likes t...      0
44875  washington  reuters    u s  representative ada...      1
44876   century wire says while you were watching the...      0
44877  our good friends at thomas more law center jus...      0

[44878 rows x 2 columns]

In [26]:
#define dependent and independent variable
x=df["text"]
y=df["class"]

In [27]:
from sklearn.model_selection import train_test_split

In [28]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30)

In [29]:
from sklearn.feature_extraction.text import TfidfVectorizer
vect=TfidfVectorizer()
vz_xtrain=vect.fit_transform(x_train)
vz_xtest=vect.transform(x_test)

In [30]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(vz_xtrain,y_train)

LogisticRegression()

In [32]:
lr_pred=lr.predict(vz_xtest)

In [37]:
from sklearn.metrics import classification_report,accuracy_score,confusion_matrix

In [34]:
lr.score(vz_xtest,y_test)

0.9872994652406417

In [36]:
print(classification_report(lr_pred,y_test))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      7029
           1       0.99      0.98      0.99      6435

    accuracy                           0.99     13464
   macro avg       0.99      0.99      0.99     13464
weighted avg       0.99      0.99      0.99     13464

In [38]:
confusion_matrix(lr_pred,y_test)

array([[6959,   70],
       [ 101, 6334]])

In [39]:
from sklearn.tree import DecisionTreeClassifier
dt=DecisionTreeClassifier()
dt.fit(vz_xtrain,y_train)

DecisionTreeClassifier()

In [40]:
dt_pred=dt.predict(vz_xtest)

In [41]:
dt.score(vz_xtest,y_test)

0.9953951277480689

In [42]:
print(classification_report(dt_pred,y_test))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      7054
           1       1.00      0.99      1.00      6410

    accuracy                           1.00     13464
   macro avg       1.00      1.00      1.00     13464
weighted avg       1.00      1.00      1.00     13464

In [43]:
confusion_matrix(dt_pred,y_test)

array([[7026,   28],
       [  34, 6376]])

In [53]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier(n_estimators=100,random_state=50,)
rf.fit(vz_xtrain,y_train)

RandomForestClassifier(random_state=50)

In [54]:
rf_pred=rf.predict(vz_xtest)

In [55]:
rf.score(vz_xtest,y_test)

0.9914587046939988

In [56]:
print(classification_report(rf_pred,y_test))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      7039
           1       0.99      0.99      0.99      6425

    accuracy                           0.99     13464
   macro avg       0.99      0.99      0.99     13464
weighted avg       0.99      0.99      0.99     13464

In [57]:
confusion_matrix(rf_pred,y_test)

array([[6992,   47],
       [  68, 6357]])

In [58]:
from xgboost import XGBClassifier
xgbc=XGBClassifier(verbosity=0)
xgbc.fit(vz_xtrain,y_train)

XGBClassifier(verbosity=0)

In [60]:
xgb_pred=xgbc.predict(vz_xtest)

In [61]:
xgbc.score(vz_xtest,y_test)

0.9954693998811646

In [62]:
confusion_matrix(xgb_pred,y_test)

array([[7009,   10],
       [  51, 6394]])

In [74]:
def output_label(n):
  if n==0:
    return "Fack News"
  elif n==1:
    return "Not a fack news"

def manual_test(news):
  testing_news={"text":[news]}
  new_df_test=pd.DataFrame(testing_news)
  new_df_test["text"].apply(wordopt)
  new_x_test=new_df_test["text"]
  new_vz_test=vect.transform(new_x_test)
  pred_LR=lr.predict(new_vz_test)
  pred_DT=dt.predict(new_vz_test)
  pred_RF=rf.predict(new_vz_test)
  pred_XGB=xgbc.predict(new_vz_test)
  return print("\n\nLR Prediction:{}\nDT Prediction:{}\nRF Prediction:{}\nXGB Prediction:{}".format(output_label(pred_LR[0]),
                                                                                                    output_label(pred_DT[0]),
                                                                                                    output_label(pred_RF[0]),
                                                                                                    output_label(pred_XGB[0])))

In [86]:
df_m_testing.iloc[10,1]

'SAO PAULO (Reuters) - Cesar Mata Pires, the owner and co-founder of Brazilian engineering conglomerate OAS SA, one of the largest companies involved in Brazil s corruption scandal, died on Tuesday. He was 68. Mata Pires died of a heart attack while taking a morning walk in an upscale district of S o Paulo, where OAS is based, a person with direct knowledge of the matter said. Efforts to contact his family were unsuccessful. OAS declined to comment. The son of a wealthy cattle rancher in the northeastern state of Bahia, Mata Pires  links to politicians were central to the expansion of OAS, which became Brazil s No. 4 builder earlier this decade, people familiar with his career told Reuters last year. His big break came when he befriended Antonio Carlos Magalh es, a popular politician who was Bahia governor several times, and eventually married his daughter Tereza. Brazilians joked that OAS stood for  Obras Arranjadas pelo Sogro  - or  Work Arranged by the Father-In-Law.   After years of steady growth triggered by a flurry of massive government contracts, OAS was ensnared in Operation Car Wash which unearthed an illegal contracting ring between state firms and builders. The ensuing scandal helped topple former Brazilian President Dilma Rousseff last year. Trained as an engineer, Mata Pires founded OAS with two colleagues in 1976 to do sub-contracting work for larger rival Odebrecht SA - the biggest of the builders involved in the probe.  Before the scandal, Forbes magazine estimated Mata Pires  fortune at $1.6 billion. He dropped off the magazine s billionaire list in 2015, months after OAS sought bankruptcy protection after the Car Wash scandal. While Mata Pires was never accused of wrongdoing in the investigations, creditors demanded he and his family stay away from the builder s day-to-day operations, people directly involved in the negotiations told Reuters at the time. He is survived by his wife and his two sons.         '

In [76]:
news=str(input())
manual_test(news)

By Dady Chery and Gilbert MercierAll writers with a desire to rattle people out of their torpor occasionally wonder if it is worthwhile to continue to try to raise their voices over the din of lies and distractions.More and more for us, such thoughts are occasioned, not by the mainstream, which predictably treats all the pronouncements from the powerful as being newsworthy, but by the fake left, which lobotomizes most of whom it touches. The increasing sophistication of this group and its rate of expansion are astounding. Its purpose is to annihilate and replace the real left, and it is making great strides in this regard.The real left includes those who, like Dr. Martin Luther King Jr. (MLK), came to realize that quantum leaps are the way to proceed, rather than tiny incremental change. The real left does not curry favor or approval from those in power; it challenges the social status quo and respects the inherent right of an injured and indignant population to rebel against authorit


LR Prediction:Fack News
DT Prediction:Fack News
RF Prediction:Fack News
XGB Prediction:Fack News

In [78]:
news=str(input())
manual_test(news)

BRUSSELS (Reuters) - NATO allies on Tuesday welcomed President Donald Trump s decision to commit more forces to Afghanistan, as part of a new U.S. strategy he said would require more troops and funding from America s partners. Having run for the White House last year on a pledge to withdraw swiftly from Afghanistan, Trump reversed course on Monday and promised a stepped-up military campaign against  Taliban insurgents, saying:  Our troops will fight to win .  U.S. officials said he had signed off on plans to send about 4,000 more U.S. troops to add to the roughly 8,400 now deployed in Afghanistan. But his speech did not define benchmarks for successfully ending the war that began with the U.S.-led invasion of Afghanistan in 2001, and which he acknowledged had required an   extraordinary sacrifice of blood and treasure .  We will ask our NATO allies and global partners to support our new strategy, with additional troops and funding increases in line with our own. We are confident they w


LR Prediction:Not a fack news
DT Prediction:Not a fack news
RF Prediction:Not a fack news
XGB Prediction:Not a fack news

In [80]:
news=str(input())
manual_test(news)

21st Century Wire says As 21WIRE reported earlier this week, the unlikely  mishap  of two US Naval vessels straying into Iranian waters   just hours before the President s State of the Union speech, followed by the usual parade of arch-neocons coming on TV in real time to declare the incident as  an act of aggression  by Iran against the United States   is no mere coincidence.24 hours after the incident, the Iranians returned all 11 US sailors, unharmed and in good spirits. The only remaining casualty from this event was an incident of a common condition in Washington known as  Pre-Traumatic Stress Disorder    suffered by a certain US Senator was mortified by the uneventful outcome which followed Daniel McAdams Ron Paul Institute  The two US Navy riverine command boats intercepted in Iranian territorial waters yesterday were sent on their way along with the crew of 10 US sailors after brief detention on Iranian soil.According to news reports, the well-armed warships either suffered mec


LR Prediction:Fack News
DT Prediction:Fack News
RF Prediction:Fack News
XGB Prediction:Fack News

In [84]:
news=str(input())
manual_test(news)

JAKARTA (Reuters) - Indonesia will buy 11 Sukhoi fighter jets worth $1.14 billion from Russia in exchange for cash and Indonesian commodities, two cabinet ministers said on Tuesday. The Southeast Asian country has pledged to ship up to $570 million worth of commodities in addition to cash to pay for the Suhkoi SU-35 fighter jets, which are expected to be delivered in stages starting in two years. Indonesian Trade Minister Enggartiasto Lukita said in a joint statement with Defence Minister Ryamizard Ryacudu that details of the type and volume of commodities were  still being negotiated . Previously he had said the exports could include palm oil, tea, and coffee. The deal is expected to be finalised soon between Indonesian state trading company PT Perusahaan Perdangangan Indonesia and Russian state conglomerate Rostec. Russia is currently facing a new round of U.S.-imposed trade sanctions. Meanwhile, Southeast Asia s largest economy is trying to promote its palm oil products amid threats


LR Prediction:Not a fack news
DT Prediction:Not a fack news
RF Prediction:Not a fack news
XGB Prediction:Not a fack news

In [87]:
news=str(input())
manual_test(news)

SAO PAULO (Reuters) - Cesar Mata Pires, the owner and co-founder of Brazilian engineering conglomerate OAS SA, one of the largest companies involved in Brazil s corruption scandal, died on Tuesday. He was 68. Mata Pires died of a heart attack while taking a morning walk in an upscale district of S o Paulo, where OAS is based, a person with direct knowledge of the matter said. Efforts to contact his family were unsuccessful. OAS declined to comment. The son of a wealthy cattle rancher in the northeastern state of Bahia, Mata Pires  links to politicians were central to the expansion of OAS, which became Brazil s No. 4 builder earlier this decade, people familiar with his career told Reuters last year. His big break came when he befriended Antonio Carlos Magalh es, a popular politician who was Bahia governor several times, and eventually married his daughter Tereza. Brazilians joked that OAS stood for  Obras Arranjadas pelo Sogro  - or  Work Arranged by the Father-In-Law.   After years of


LR Prediction:Not a fack news
DT Prediction:Not a fack news
RF Prediction:Not a fack news
XGB Prediction:Not a fack news